<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.server.mapper.MetaAttributeRelationMapper">
    <!-- 插入用户 -->
    <insert id="batchInsertAttributes" parameterType="java.util.List">
        INSERT IGNORE INTO meta_attribute_relation (app_id, event_name, event_attribute)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.appId}, #{item.eventName}, #{item.eventAttribute})
        </foreach>
    </insert>
</mapper>